<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.msfocb.printermap</string>
        <key>Program</key>
        <array>
            <string>/Library/MSF/printermap.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/Library/Logs/MSF/IntuneScripts/Printers/PrinterMapStd.log</string>
        <key>StandardErrorPath</key>
        <string>/Library/Logs/MSF/IntuneScripts/Printers/PrinterMapErr.log</string>
    </dict>
</plist>
